<div class="panel panel-default {{classResponsive}}">
	<div class="panel-heading">

		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#subirArchivo">Subir Archivo</a></li>
			<li><a data-toggle="tab" href="#subirUrl">Subir Url</a></li>
		</ul>

		<div class="tab-content">
			<div id="subirArchivo" class="tab-pane fade in active">
				<form enctype="multipart/form-data" id="formuploadajax" method="post">
					<div class="col-xs-4 col-sm-3">
						<span class="btn btn-primary btn-file">
						    Selecciona Archivo
						    <input type="file" onchange={{action "changeFile" value="target"}}>
						</span>
					</div>
					{{#if fileName}}
						<div class="col-xs-4 col-sm-9">
							<div class="input-group">
								<span class="input-group-btn"><img src={{preview}} height="30" class="margin-image-group" /></span>
								<span class="input-group-addon">Ruta y nombre: </span>
						  		{{input type="text" class="form-control" value=fileName placeholder="Ruta y nombre" disabled=(if uploading "disable")}}
						      	<span class="input-group-btn">
						      		<button type="submit" class="btn btn-warning" {{action 'upload'}} disabled={{if uploading "disable"}}>
						      		{{#if uploading}}
						      			Uploading...
						      		{{else}}
						      			Upload file
						      		{{/if}}
						      		</button>	
						      	</span>
						    </div>
					    </div>	
					{{/if}}
				</form>
			</div>

			<div id="subirUrl" class="tab-pane fade">
				<div class="input-group">
					{{#if fileUrlValid}}
					<span class="input-group-btn"><img src={{fileUrlValid}} height="60" class="margin-image-group" /></span>
			  		{{/if}}
			  		{{input type="text" class="form-control" value=fileUrl placeholder="url" disabled=(if uploading "disable") autocomplete="on"}}
			      	{{input type="text" class="form-control" value=fileNameUrl placeholder="Ruta y nombre" disabled=(if uploading "disable")}}
			      	<span class="input-group-btn">
			      		<button class="btn btn-warning max-height" {{action 'uploadUrl'}} disabled={{if uploading "disable"}}>Upload url</button>	
			      	</span>	
			    </div>
			</div>
			
		</div>

		{{#if newErrors}}
		<div class="panel panel-default">
  			<div class="panel-body">
				<ul>
					<li class="text-danger">{{newErrors}}</li>
				</ul>
			</div>
		</div>
		{{/if}}
	</div>

  	<div class="panel-body">
		<table class="table-striped table-bordered table-condensed table">
			<thead>
				<tr class="color-th">
					{{#each properties as |prop|}}
						<th class="text-center v-middle">
							{{prop.title}}
						</th>
					{{/each}}
					
					<th class="text-center v-middle max-width-actions">
						<span class='glyphicon glyphicon-wrench'></span>
					</th>
				</tr>
			</thead>

			<tbody>
				{{!-- contenido de la tabla --}}
				{{#each datos as |file|}}
					<tr>
						{{#each properties as |prop|}}
							<td>
								{{#if prop.mayBeMedia}}
									{{#if file.isImage}}
										<img src={{get file prop.name}} class="img-responsive">
									{{else if file.isVideo}}
										<video width="220" height="140" controls>
										  <source src={{get file prop.name}}>
										</video>
									{{else}}
										{{!-- <p>{{get file prop.name}}</p> --}}
										<img src="/assets/images/file.png" class="img-responsive">
									{{/if}}
								{{else}}
									<p>{{get file prop.name}}</p>
								{{/if}}
							</td>
						{{/each}}
						
						<td class="text-center v-middle max-width-actions">
							{{#if pathDownload}}
								<a href={{file.download}}><button class="btn btn-xs btn-primary"><span class='glyphicon glyphicon-download-alt'></span></button></a>
							{{/if}}
							<button class="btn btn-xs btn-danger" {{action 'delete' file}}><span class='glyphicon glyphicon-trash'></span></button>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>


  
